@import url(https://fonts.googleapis.com/css?family=Zen+Dots:regular);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

body{
    background: rgb(0,212,255);
    background: linear-gradient(240deg, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 56%, rgba(100,149,237,1) 100%);
    background-size: cover;
}
.voltar{
   margin-left: 60%;
   cursor: pointer;
}
.divTitulo{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2071f8;
    width:100%; 
    height: 8vw;
}
.titulo{
    font-family: "Press Start 2P";
    font-size: 35px;
    

    border-radius: 5px;
}
.divExplore{
    height: min-content;
    color: #2071f8;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    
}
.explore{
    align-items: center;
    justify-content:center;
    background-color: #2071f8;
    cursor: pointer;
    border-radius: 5px;
}
#pesquisaInput{
    padding: 0%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#inputText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
    width: 20vw;
    border-radius: 2px;
}
#pesquisar{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
    margin-left: 2vw;
    font-size: large;
    color: azure;
    background-color: rgb(20, 29, 77);
}
#pesquisaMain{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.divResultado{
    display: list-item;
    /* align-items: center; */
    justify-content: center;
    height: 40vw;
    width: 100%;
}
.fotoResultado{
    width: 300px;
    height: 200px;
}
#pesquisaInput{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    height: 10vw;
}

#nomeGame{
    justify-content: center;
    align-items: center;
    height: 15%;
}
#pesquisar{
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    height: 15%;
}
.jogoDapesquisa{
    font-family: "Zen Dots";
    font-weight: bold;
    font-size: large;
    color: #000000;
}
.divLinha{
    display: block;
    background-color: black;
    height: 10px;
    width: 100%;
}